
@{
    ViewBag.Title = "login";
}

<div>
  
 

    <asp:Login ID="LoginControl" runat="server">

                    <table>
                        <tr>
                            <td>
                                <label ID="UserNameLabel">User Name:</label>
                            </td>
                            <td>
                                <input type="text" id="Username" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label id="PasswordLabel">Password:</Label>
                            </td>
                            <td>
                                <input type="password" id="Password" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label id="RembemberMeLabel">Remember me next time</label>
                            </td>
                            <td>
                                <input type="checkbox" id="RememberMe" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button id="LoginButton">Login</button>
                            </td>
                        </tr>
                    </table>
    </asp:Login>
    <div id="LoginStatus" />
    @Html.ActionLink("Registration", "Register")
</div>

@section scripts {
<script>
        $(document).ready(function () {
            var path = "@Url.Action("ValidateUser")";
            $("#LoginButton").click(function () {
                $("#LoginStatus").html("Logging in...");
                var data = {
                    "userid": $("#Username").val(),
                    "password": $("#Password").val(),
                    "rememberme": $("#RememberMe").prop("checked")
                };
                $.ajax({
                    url: path,
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (status) {
                        $("#LoginStatus").html(status.Message);
                        if (status.Success) {
                            window.location.href = status.TargetURL;
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(JSON.stringify(jqXHR));
                        alert("AJAX error: " + textStatus + ' : ' + errorThrown);
                    }
                });
            });
        });
</script>
}