
@{
    ViewBag.Title = "login";
}

<div class="container app-container-signin">
    <form class="app-form-signin" role="form">

        <input type="text"
               class="form-control
               app-fill-lightgray
               app-border-darkgray" id="Username" placeholder="Username" required autofocus>

        <input type="password"
               class="form-control
               app-fill-lightgray
               app-border-darkgray" id="Password" placeholder="Password" required>

        <label class="checkbox app-clr-green">
            <input type="checkbox" id="RememberMe" value="remember-me"> Remember me
        </label>
        <button type="button" id="LoginButton" class="btn btn-lg btn-primary btn-block">Sign in</button>
    </form>
</div>
@section scripts {
<script>
        $(document).ready(function () {
            var path = "@Url.Action("ValidateUser")";
            $("#LoginButton").click(function () {
                $("#LoginStatus").html("Logging in...");
                var data = {
                    "userid": $("#Username").val(),
                    "password": $("#Password").val(),
                    "rememberme": $("#RememberMe").prop("checked")
                };
                alert(data);
                $.ajax({
                    url: path,
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (status) {
                        $("#LoginStatus").html(status.Message);
                        if (status.Success) {
                            window.location.href = status.TargetURL;
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(JSON.stringify(jqXHR));
                        alert("AJAX error: " + textStatus + ' : ' + errorThrown);
                    }
                });
            });
        });
</script>
}